@import url('https://fonts.googleapis.com/css?family=Anton|Roboto:400,500');


html, body {
  height: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #222;
}

h1 {
  font-size: 4em;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

small {
  font-size: 0.75em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0.15em solid white;
}

a:hover {
  border-bottom: 0.25em solid white;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
}

nav > a {
  border: none;
}

nav > a:hover {
  border: none;
}

nav > a > svg {
  width: 26px;
}

nav > a > svg:hover {
  color: rgba(255, 255, 255, 0.75);
}

nav > figure {
  margin: 0;
  display: inline-block;
}

nav > figure > img {
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

section {
  display: flex;
  min-height: 100%;
}

article {
  flex: 1;
  align-items: stretch;

  background-size: cover;
  position: relative;
  background-position: center center;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

article:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

article:not(:hover):after {
  background-color: rgba(0, 0, 0, 0.5);
}

article:hover:after {
  background-color: rgba(0, 0, 0, 0.25);
}

header {
  position: relative;
  z-index: 2;
  text-align: center;
}

header > small {
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 480px) {
  section {
    flex-direction: column;
  }

  article:first-of-type {
    padding-top: 2.5em;
  }

  header {
    padding: 3em 0;
  }

  header > h1 {
    margin: 0 0;
  }
}

@media only screen and (min-width: 480px) {
  section {
    flex-direction: row;
  }

  header {
    padding: 1em;
  }

  header > h1 {
    margin: 0.2em 0;
  }
}
